

/*
Ellement: 	  Input
Version:      0.1 (Concept)
*/


output {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px 0px 5px;
  border: solid 1px #bbbbbb;
  line-height: 30px;
  outline: none;
}

output:focus {
  border: 1px solid lightblue;
}



/*
-- Mobile responsive
*/

@media screen and ( max-width: 568px )
{
  output {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
}
