

/*
Ellement: 	  Checkbox
Version:      0.1 (Concept)
*/


input[type="radio"] {
  appearance: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

input[type="radio"]:checked {
  border: solid 1px green;
}

input[type="radio"] + label {
  opacity: 0.7;
}

input[type="radio"]:checked + label {
  opacity: 1.0;
}


/*
-- Mobile responsive
*/

@media screen and ( max-width: 568px )
{
  input[type="radio"] {
    display: block;
    float: left;
    clear: both;
    width: 28px;
    height: 28px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
  }
}
