

/*
Ellement: 	  Input
Version:      0.1 (Concept)
*/


input {
  //
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="month"],
input[type="search"],
input[type="tel"],
input[type="password"] {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 2.2rem;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px 0px 5px;

  border: solid 1px #bbbbbb;
  line-height: 2.2rem;
  outline: none;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input:focus {
  border: 1px solid lightblue;
}

input[type="text"] {

}

input[type="email"] {

}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
	width: 60px;
	height: 30px;
  border: none;
  border: solid 1px #bbbbbb;
}

input[type="url"] {

}

input[type="time"] {

}

input[type="date"] {

}

input[type="datetime"] {

}

input[type="datetime-local"] {

}

input[type="number"] {
  width: auto;
  height: 30px;
}

input[type="month"] {

}

input[type="search"] {

}

input[type="tel"] {

}

input[type="password"] {

}


/*
-- Mobile responsive
*/

@media screen and ( max-width: 568px )
{
  input,
  input[type="email"],
  input[type="url"],
  input[type="time"],
  input[type="date"],
  input[type="datetime"],
  input[type="number"],
  input[type="month"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="password"] {
    width: 100%;
    height: 2.8rem;
    padding: 1px 5px 0px 5px;
    line-height: 40px;
    font-size: 17px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
}
