

/*
Ellement: 	  Wrapper
Version:      0.1 (Concept)
*/


.rf-formwrap {
  display: block;
  width: auto;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  clear: both;
}

.rf-formwrap:after {
  content: "";
  display: table;
  clear: both;
}


/*
-- Mobile responsive
*/

@media screen and ( max-width: 568px )
{

}
