

// Check out these links for inspiration
http://responsivebp.com/css/forms/
https://foundation.zurb.com/sites/docs/v/5.5.3/components/forms.html


// Form validation
https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation
